.filter-extra-container.chip .filter-fields {
    display: grid;
    grid-template-columns: 120px 100px auto 300px 100px 150px;
}

.filter-extra-container.chip .filter-buttons button.filter {
    background: #9861e0;
}

@media (max-width: 1370px) {
    .filter-extra-container.chip {
        flex-direction: column;
        gap: 10px;
    }

    .filter-extra-container.chip .filter-fields .field-from-to .text-box-container {
        width: 100%;
    }

    .filter-extra-container.chip .filter-buttons {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

@media (max-width: 1250px) {
    .filter-extra-container.chip .filter-fields {
        grid-template-columns: auto auto auto auto auto;
    }
}

@media (max-width: 950px) {
    .filter-extra-container.chip .filter-fields {
        grid-template-columns: auto auto auto auto;
    }
}

@media (max-width: 850px) {
    .filter-extra-container.chip .filter-fields {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 700px) {
    .filter-extra-container.chip .filter-fields {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 600px) {
    .filter-extra-container.chip .filter-fields {
        grid-template-columns: auto;
    }
}

@media (max-width: 400px) {
    .filter-extra-container.chip .filter-fields .field-from-to .date-field-container {
        width: 70px;
    }
}